.row {
  display: flex;
  gap: 16px; /* Adjust gap between columns */
}

.column {
  flex: 1; /* Each column takes up equal space */
}

.mediaContainer {
  margin-bottom: 16px; /* Space between media items in a column */
  border-radius: 8px;
  overflow: hidden;
  background-color: #f0f0f0; /* Optional: background color */
  position: relative; /* Needed for fullscreen positioning */
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.media {
  display: block;
  width: 100%;
  height: auto; /* Ensure height adjusts to media */
  object-fit: cover; /* Ensure the media covers the container */
}

.video {
  height: auto; /* Ensure video height adjusts to container */
}

/* Fullscreen styles */
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.9); /* Dark background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen .media {
  width: auto;
  height: 100%;
  object-fit: contain; /* Ensure media maintains aspect ratio in fullscreen */
}

/* Add media query for mobile devices */
@media (max-width: 768px) {
  .fullscreen .media {
    width: 100%; /* For mobile, set width to 100% */
    height: auto; /* Adjust height accordingly */
    object-fit: contain; /* Maintain aspect ratio */
  }
}

.search {
  border-radius: 32px;
  border: 1px solid #ebedef;
  outline: none;
  color: #1e1e1e;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 32px;
  width: -webkit-fill-available;
  margin-bottom: 32px;
}
